


html {
    /* Needed to fix footer at bottom of browser */
    position: relative;
    min-height: 100%;
}

body {
    /* Move down content because of fixed navbar at top */
    padding-top: 50px;
    /* Set margin bottom allow for footer height */
    margin-bottom: 50px; 
    
    
}

#main {
   
    padding-bottom: 25px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-bottom: 15px;
}

footer {
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
  
    text-align: center;
    padding: 15px;
}






.navbar-inverse .navar-brand { color: black; 
   
}

.navbar-inverse {
    
}
.navbar-inverse .btn {
   
}
  #education {padding-top:50px;height:500px;color: #fff; background-color: #1E88E5;}
    
,prokile {border-bottom-style: solid; border-color: black;}