


html {
    /* Needed to fix footer at bottom of browser */
    position: relative;
    min-height: 100%;
}

body {
    /* Move down content because of fixed navbar at top */
    padding-top: 50px;
    /* Set margin bottom allow for footer height */
    margin-bottom: 50px; 
    
    
    
}



footer {
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
  
    text-align: center;
    padding: 15px;
}


tbody {background color: snow;}



.navbar-inverse .navar-brand { color: black; 
   
}

.navbar-inverse {color:#a5bcbb; 
    
}
.navbar-inverse .btn {
   
}
h1 { background-color: #384883; border-bottom: 3px ridge #330000;}
    
#profile {background-color:#a5bcbb; margin: auto;}